.ToggleSwitch{
  background: linear-gradient(#ccc, #eee);
  border: 1px solid rgb(4, 4, 4);
  height: 2em;
  width: 5em;
  border-radius: 1em;
  cursor:pointer;
}
  .knob{
    position: relative;
    width: 1.9em;
    height: 1.9em;
    background: #666;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0em;
    transition: left 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
  
}
.active{
    left:3em;
    background-color: blue;
}