.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}

@media (max-width: 500px) { 

.logo_name{
  display:none ;
}
.filter_dialog>p{
  width: auto;
}
.content-table{
  max-width: 450px; 
  max-height: 300px;
}
.ToggleSwitch{
  max-height: 1.3em;
  max-width:4em;
}
.knob{
  max-height: 1.2em;
  max-width: 1.2em;
}
.knob.active{
  left: 2.7em;
}
.toggle_name{
  font-size: 15px;
  font-weight: 300px;
}
.DropDown{
  min-width: 50px;
  min-height: 40px;
}
.DropDownItem{
  max-height: 30px;
  max-height: 20px;
}
.DropDownItem>span{
font-size: 10px;
}
.DropDownItem>p{
    margin: 0;
    font-size: 10px;
    margin-left: 10px;
}
.navbar{
  justify-content: space-around;
}
 }
@media (min-width: 768px) { 


 }
@media (min-width: 1024px) { 


}